/*------- Basic config -------*/
// font settings
$base-fz: 16px;
$base-lh: 21px;

// fonts
$base-ff: "Avenir Next";

// colors

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #475893;
	background-image: linear-gradient(135deg, #4C478A 0%, #31A0BB 100%);
	color: white;
	font-size: $base-fz;
	line-height: $base-lh;
	font-family: $base-ff;
}

.header {
	background: rgba(0,0,0,0.3);
	height: 119px;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 0.014em;
}

.slider {

}

.events {
	
}
