// ==================================================
// Default settings
// ==================================================
// цвета
$black: 							#2b2f33;
$white: 							#ffffff;

$base-text-color: 			$black;
$base-text-second-color: 	#252323;
$brand-color: 					#e0215c;

// отступы
$base-spacing: 				12px;

// скругление
$base-radius: 					2px;

// бордеры
$base-border: 					1px solid $white;

// транзиты
$base-transition: 			all 0.2s ease-out;

.debug {
	background: tomato;
}

// ==================================================
// Imports
// ==================================================
@import 						"base/grid";
@import 						"base/icons";
@import 						"base/typography";
@import 						"components/buttons";
@import 						"utils/helpers";
@import 						"layout/forms";

// ==================================================
// Functions
// ==================================================
// Перевести .px в .em
// Прим scss: .foo { widht: em(16px); } 
@function em($px, $base: $base-fz) {
  @if unitless($px) {
    @warn '#{$px} должно быть в пикселях, попробуем явно преобрзовать.';
    @return em($px + 0px);
  } @else if unit($px) == em {
    @return $px;
  }

  @return ($px / $base) * 1em;
};

@import "base/typography";

// ==================================================
// Base
// ==================================================

// Глобальный border-box, обязателен!
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	position: relative;
	min-width: 60em;
	background-color: #EFEFEF;
	color: $base-text-color;
	font-size: $base-fz;
	line-height: $base-lh;
	font-family: $base-ff;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// ==================================================
// Global
// ==================================================
.wrapper {
	@extend .cf;

	max-width: em(1080px);
	margin: 0 auto;
	padding-left: ($base-spacing * 2);
	padding-right: ($base-spacing * 2);
}

.paper {
	@extend 	.cf;
	
	box-shadow: 0 4px 8px rgba($black, 0.14);
	background-color: $white;
}



// ==================================================
// Nav-bar
// ==================================================

.nav-bar {
	@extend 	.grid,
				.grid--center;
	
	position: fixed;
	width: 100%;
	min-width: 60em;
	top: 0;
	left: 0;
	font-family: "GothamProLight";
	height: 56px;
	background-color: #0A032A;
	color: $white;

	z-index: 10;

}

.nav-bar__nav {
	a {
		margin-left: 40px;
		
		&:hover {
			border-bottom: 1px solid rgba(255,255,255,0.4);
		}
	}
}

.logo {
	@extend 	.grid-cell,
				.grid-cell--auto;
	
	background-color: $brand-color;
	width: 246px;
	font-family: "Avenir Next";
	text-align: center;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 56px;
	font-size: em(24px);
}


// ==================================================
// Hero unit
// ==================================================
.hero {
	color: $white;
	height: 648px;
	overflow: hidden;
	margin-top: 56px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	// font-weight: 100;
}

.hero-wrapper {
	@extend .wrapper;

	display: flex;
	align-items: center;
	height: 100%;
}

.hero__info {
	flex: 0 0 auto;
	// align-self: center;
}

.hero__name {
	// На болших экранах:
	font-size: em(64px);
	padding-bottom: 24px;
	font-family: "GothamProLight";

}

.hero__date-place {
	// На болших экранах:
	margin-bottom: ($base-spacing * 2);
}

.hero__btn {
	// На болших экранах:
	@extend .btn--md;
}

// ==================================================
// Events block
// ==================================================
.events__list {
	@extend 	.grid,
				.grid--gutters,
				.grid--1of3;
	
	margin-top: ($base-spacing * 2);
	margin-bottom: ($base-spacing * 6);;
	
	img {
		max-width: 100%;
		display: block;
	}
}

.event__item {
	@extend .grid-cell;

}

.item__about {
	text-align: center;
	padding: 12px 12px 24px 12px;
}

.item__name {
	font-family: "GothamProMedium";
	font-size: em(21px);
	line-height: em(28px);
	padding-bottom: 2px;
}

.item__date-place {
	font-size: $micro-fz;
	margin-bottom: ($base-spacing * 2);
}

.buy-tickets {
	display: block;
}

@import 'layout/event';


.footer {
	@extend 	.grid,
				.grid--center;
	text-align: center;
	color: $white;
	background-color: #0A032A;
	height: 56px;
	
	font-family: "GothamProLight";
}

.copyright {
	@extend .grid-cell;
}

@import 'layout/static';












