<header class="header">
	 <span>АФИША</span>
</header>
<section class="slider">
	<span>Стоит пойти</span>
</section>
<section class="events">
	<span>Концерты</span>
</section>
<section class="footer">
	Подвальная часть сайта
</section>
