<header class="nav-bar">
	{{link-to 'АФИША' 'index' class="logo"}}
	<nav class="nav-bar__nav">
		{{link-to 'Контакты' 'contacts'}}
		{{link-to 'Как купить билеты?' 'help'}}
	</nav>
</header>
	
{{outlet}}

<section class="footer">
	<p class="copyright">Афиша Владивостока. 2015. Все права защищены.</p>
</section>