<header class="nav-bar">
	{{link-to 'АФИША' 'index' class="logo"}}
	<nav class="nav-bar__nav">
		<a href="#">Контакты</a>
		<a href="#">Как купить билеты?</a>
	</nav>
</header>
	
{{outlet}}

<section class="footer">
	<p class="copyright">Афиша Владивостока. 2015. Все права защищены.</p>
</section>