<div class="wrapper">
	<section class="event-page">
		<div class="event-page__cover">
			<img src={{model.cover}}>
		</div>
		<div class="event-page__content">
			<h1 class="event__title">{{model.title}}</h1>
			<p class="event__description">{{model.description}}</p>
			<section class="comments">
		 		Тут будет дискус с комментариями
			</section>
		</div>
{{!-- 		<div class="social-buttons">
			<button class="btn btn--simple btn--pink btn--social twitter">t</button>
			<button class="btn btn--simple btn--pink btn--social facebook">f</button>
		</div> --}}
	</section>
</div>
